@keyframes scaleAndFlip {
    0% {
      opacity: 0;
      transform: perspective(400px) scale(2) rotateX(-90deg);
    }
    100% {
      opacity: 1;
      transform: perspective(400px) scale(1) rotateX(0deg);
    }
  }
  #imgLogo{
    margin-left: 3.125rem;
    width:3.125rem ;
    animation: scaleAndFlip 5s ease forwards;
  }
  

  #contenedolista{
    display: flex;
    margin-right: 3.125rem;
    
  }
  #lista{
    display: flex;
    gap: 1.25rem;
    list-style: none;
    
  }
  .link{
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto de su contenedor */
    font-size: inherit; /* Hereda el tamaño de fuente de su contenedor */
    font-weight: inherit;
  }
  #contenedor_menu{
    margin-top: .625rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    position: sticky;
    display: flex;
    top: 1.25rem;
    width: 100%;
    margin-top: 0;
    font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
    font-weight: 600; /* Puedes ajustar este valor para cambiar la negrita */
    color: aliceblue;
    z-index: 100;
    justify-content: space-between;
    background-color: #13233c;
    transition: top 0.7s ease;   
    height: 3.125rem; 
    
  }
  .itemList{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 5ms ease;
  }
  .itemList:hover{
    transition: all 500ms ease;
    background: #0d1624;
 
  }