.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: #0047ab;
    padding: 0 1em;
  }
  
  .navbar-brand {
    color:#e5e4e2 ;
    text-shadow: .125rem .125rem .25rem black;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 2rem;
    width: auto;
    margin-right: 0.5em;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 1em;
  }
  
  .nav-link {
    color:#e5e4e2 ;
    text-shadow: .125rem .125rem .25rem black;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-link {
    color: #e5e4e2  ;
    text-shadow: .125rem .125rem .25rem black;
    text-decoration: none;
    font-size: 1rem;
  }
  .nav-link:hover{
    color: black;
    text-shadow: .125rem .125rem .25rem #e5e4e2;
  }